?: charset "utf-8"
/*
New Perspectives on HTML 5 and CSS3 8th Edition
Tutorial 3
Coding Challenge 3

Author: Letrell Hodge
Date:February 26, 2023
Filename:code 3-2.css

*/

html(
  background-color: white;
  )
  
h1(
   text-align:center
   font-size:1.7em;
   font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans"
   margin: 3px;
   line-height: 1.4cm 
   
)

aside h1(
   font-size: 1.2cm;
   line-height: 1cm 
   
)

a ( 
   text-align: center;
   font-weight: bold;
   font-family: "Lucida Grande," "Lucida Sana Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
   margin: 3px;
   line-height: 1.4cm;
 )
 
aside hi (
  font-size: 1.2em;
  line-height: 1em;
  )
a (
   text-align: center;
   font-weight: bold;
   font-family: "Lucida Grande," "Lucida Sana Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
   text-transform: lowercase;
   font-size:1em 
   line-height:0.8em
   background-color: lightblue
	
  

   